---
const {animationDirection='fade-left'} = Astro.props;
const { link, title,image,altdesc, autor,date,slot, excerpt} = Astro.props;

---

<a slot={slot} href={link} class="flex flex-col self-center w-full sm:max-w-[200px]  2xl:max-w-[249px] group ">
<article  data-aos={animationDirection} >
    <div class="w-full lg:max-w-[600px] 2xl:max-w-[708px] overflow-hidden ">
      <img
        class="w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"
        src={image}
        alt={altdesc}
      />
    </div>
    <h3 class="text-lg mb-5">
        {title}
    </h3>
    <div class="flex flex-col">
      <p class="text-xs mb-3">
        Por <strong>{autor}</strong> - <span>{date} </span>
      </p>
      <p class="text-sm">
        {excerpt}
      </p>
    </div>
  </article>
</a>