---
const {animationDirection='fade-left'} = Astro.props;
const { link, title,image,altdesc, autor,date,slot} = Astro.props;
---

<a href={link} slot={slot}>
<article data-aos={animationDirection} class="flex flex-col w-full max-w-[459px] group">
    <div class="w-full max-w-[597.791px] overflow-hidden ">
      <img
        class="w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"
        alt={altdesc}
		src={image}
      />
    </div>
    <h3 class="text-[1.3rem] ">
      {title}
    </h3>
    <div class="flex">
      <p>
        Por <strong>{autor}</strong> - <span>{date} </span>
      </p>
    </div>
  </article>

</a>