---
const url = "https://propuestas-new-shoring.vercel.app/api/articles"
// const url = "http://localhost:4322/api/articles"


const response = await fetch(url);
const data = await response.json();

// Ensure that articles is an array
const articles = data.articles;
---

<div
  class="w-full !border-[--secundary-color] pt-10 pb-3 border-t-4 border-b self-center my-10"
>
  <h2
    class="text-left text-3xl font-extrabold text-[--guardsman-red-500]"
    id="near-now"
  >
    NEAR NOW!
  </h2>
</div>
<section
  class="w-full max-w-[1600px] flex flex-col md:flex-row flex-wrap items-start justify-center gap-5 text-[secundary-color] pb-20 "
>
  <div class="flex flex-1 flex-col w-full  lg:max-w-[721.92px] 2xl:max-w-[1066.55px]  ">
    {
      articles.length > 0 ? (
        articles.splice(0, 1).map((article, index) => (
          <article class="card w-full mb-6     *:text-center group">
            <div class="img__container w-full  lg:h-[406.08px] 2xl:h-[599.92px] overflow-hidden  ">
              <img
                src={article.featureImage}
                alt={article.title}
                class="w-full h-full object-cover  mb-4 group-hover:scale-110 ease-in duration-300"
              />
            </div>
            <h3 class="main-title group-hover:underline tracking-wide text-[1.375rem] 2xl:text-[1.5625rem] font-Merriweather text-center font-[600] my-5 ">
                {article.title}

            </h3>
            <div class="flex flex-col items-center justify-between text-sm text-[--secundary-color]">
              <p class="text-[0.75rem]">Por  <span class="font-WorkSans font-[600] text-[--text-spans]">{article.author}</span>{" "}
              </p>
            </div>
          </article>
        ))
      ) : (
        <p class="text-gray-600">No articles available.</p>
      )
    }
    <div class="border-b border-[--divider-secundary] w-full my-5"></div>
    <div class="w-full flex flex-flex-wrap md:flex-row flex-col items-start justify-between">
        <div class="flex flex-col gap-2">
            {
              articles.length > 0 ? (
                articles.splice(0, 2).map((article, index) => (
                  <article class="flex items-start w-full max-w-[498.95px] min-w-[398px] mb-6  p-4  *:text-left">
                    <div class="w-[88px] h-[88px] min-w-[88px] min-h-[88px] mr-[16px] mb-[16px] overflow-hidden group ">
                      <img
                        src={article.featureImage}
                        alt={article.title}
                        class="w-full h-full object-cover  mb-4 group-hover:scale-110 ease-in duration-300"
                      />
                    </div>

                    <div class="flex flex-col items-start justify-center text-sm text-[--secundary-color]">
                      <h3 class=" text-[1.0625rem]  xl:lg:text-[1.0625rem]  font-bold font-Merriweather text-left mb-2">
                        {article.title}
                      </h3>
                      <p class="text-[0.75rem] ">
                        Por <span class="font-WorkSans font-[600] text-[--text-spans]">{article.author}</span>
                      </p>
                    </div>
                  </article>
                ))
              ) : (
                <p class="text-gray-600">No articles available.</p>
              )
            }
          </div>
          <div
          class="hidden xl:flex h-full  border-l border-1 border-[--divider-secundary]"
        >
        </div>
          <div class="flex flex-col gap-2">
            {
              articles.length > 0 ? (
                articles.splice(0, 2).map((article, index) => (
                  <article class="flex items-start w-full max-w-[498.95px]  mb-6  p-4  *:text-left">
                    <div class="w-[88px] h-[88px] min-w-[88px] min-h-[88px] mr-[16px] mb-[16px] overflow-hidden group ">
                      <img
                        src={article.featureImage}
                        alt={article.title}
                        class="w-full h-full object-cover  mb-4 group-hover:scale-110 ease-in duration-300"
                      />
                    </div>

                    <div class="flex flex-col items-start justify-center text-sm text-[--secundary-color]">
                      <h3 class=" text-[0.9375rem] xl:text-[1.0625rem]  font-bold font-Merriweather text-left mb-2">
                        {article.title}
                      </h3>
                      <p class="text-[0.75rem] ">
                        Por <span class="font-WorkSans font-[600] text-[--text-spans]">{article.author}</span>
                      </p>
                    </div>
                  </article>
                ))
              ) : (
                <p class="text-gray-600">No articles available.</p>
              )
            }
          </div>
    </div>
  </div>
  </div>
  <div
    class="hidden xl:flex h-full min-h-[100dvh] border-l border-1 border-[--divider-secundary]"
  >
  </div>
  <div class="w-full lg:max-w-[328.27px] 2xl:max-w-[485.27px]  flex flex-col items-center justify-between">
    {
      articles.length > 0 ? (
        articles.splice(0, 2).map((article, index) => (
          <article class="card w-full  mb-6 md:max-w-[485.27px]  *:text-left group">
            <div class="w-full  lg:max-h-[184.75px] 2xl:max-h-[272.25px] overflow-hidden group ">
              <img
                src={article.featureImage}
                alt={article.title}
                class="w-full h-full object-cover  mb-4 group-hover:scale-110 ease-in duration-300"
              />
            </div>
            <h3 class=" text-[1.3125rem] mt-5 mb-4 font-bold font-Merriweather text-left group-hover:underline">
              {article.title}
            </h3>
            <div class="flex flex-col items-left justify-between text-sm text-[--secundary-color]">
              <p class="text-[0.75rem]">
                Por  <span class="font-WorkSans font-[600] text-[--text-spans]"> {article.author}</span>
              </p>
            </div>
          </article>
        ))
      ) : (
        <p class="text-gray-600">No articles available.</p>
      )
    }
  </div>
</section>

<style>

  .img__container {
    position: relative;
  }
  .img__container::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    transform: scale(0);
    transform-origin: 1;
    height: 4px;
    transition: 0.9s transform;
    background: #901704;
  }
  .card:hover .img__container::after {
    transform: scale(1);
  }
</style>
