---
import DropdownButton from "@atoms/DropDown/DropdownButton.astro";
import DropdownLevel from "@atoms/DropdownLevel/DropdownLevel.astro";
const pagePathname = Astro.url.pathname;
const {placement} = Astro.props;
const menuItems = [
  {
    text: "Near Now!",
    url: "#near-now",
  },
  {
    text: "Industrías",
    elements: [
      { text: "Industrías", url: "#industrias" },
      { text: "Aeroespacial", url: "/" },
      { text: "Automotriz", url: "/" },
      { text: "Electrodomésticos", url: "/" },
      { text: "Electrónica", url: "/" },
      { text: "Médico", url: "/" },
      { text: "Textil", url: "/" },
    ],
  },
  {
    text: "Energía",

    elements: [
      {text: "Energía", url: "#energia"},
      { text: "Eléctrica", url: "/" },
      { text: "Eólica", url: "/" },
      { text: "Solar", url: "/" },
    ],
  },
  {
    text: "Finanzas",
    url: "#finanzas",
  },
  {
    text: "Video",
    url: "#video",
  },
  {
    text: "Logística y Transporte",
    elements: [
      { text: "Logística y Transporte", url: "#logistica-y-transporte" },
      { text: "Aero", url: "/" },
      { text: "Marítimo", url: "/" },
      { text: "Terrestre", url: "/" },
    ],
  },
  {
    text: "Parques Industriales",

    elements: [
      { text: "Parques Industriales", url: "#parques-industriales" },
      { text: "construcción", url: "/" },
      { text: "Inmuebles", url: "/" },
      { text: "Manufactura", url: "/" },
    ],
  },
  {
    text: "Capital Humano",
    url: "capital-humano",
    elements: [
      { text: "Capital Humano", url: "#capital-humano" },
      { text: "Capacitación", url: "/" },
      { text: "Certificación", url: "/" },
      { text: "Coaching", url: "/" },
      { text: "Leyes y reglamentos", url: "/" },
      { text: "Reglamentación", url: "/" },
    ],
  },
  {
    text: "ESG",
    url: "#esg",
    elements: [
      { text: "ESG", url: "#esg" },
      { text: "Gobierno Corporativo", url: "/" },
      { text: "Inclusión", url: "/" },
      { text: "Sustentabilidad", url: "/" },
    ],
  },
];

// Separar los primeros tres elementos y el resto
const mainMenuItems = menuItems.slice(0, 9);
// const moreMenuItems = menuItems.slice(4, menuItems.length);
const moreMenuItems = menuItems.slice(4,0);
const randomNum = Math.floor(Math.random() * 1000);
---


<nav>
    <ul
      class="flex flex-col lg:flex-row w-full  md:h-auto font-medium md:space-x-4 rtl:space-x-reverse  md:mt-0 md:border-0 space-y-4 md:space-y-0"
    >

      {
        mainMenuItems.map((menuItem, index) => (
          <li class="">
            {menuItem.url ? (
              <a
                href={menuItem.url}
                class="header__link font-sans text-white hover:text-[--guardsman-red-500] transition-colors"
              >
                {menuItem.text}
              </a>
            ) : (
              <DropdownButton
                id={`dropdown-${index}-${randomNum}`}
                text={menuItem.text}
                dropdown={menuItem.elements}

              />
            )}
          </li>
        ))
      }

      {
        moreMenuItems.length > 0 && (
          <li>
            <DropdownLevel
              id={`dropdown-more ${randomNum}`}
              text="More"
              dropdown={moreMenuItems}
              placement={placement}
            />
          </li>
        )
      }
    </ul>
  </nav>

  <style is:global>
    .header__link:not(.sub__link) {
      position: relative;
    }
    .header__link:not(.sub__link)::after {
      position: absolute;
      top: 25px;
      left: 0;
      content: "";
      width: 100%;
      transform: scale(0);
      transform-origin: 1;
      height: 2px;
      background: var(--guardsman-red-800);
      transition: 0.35s transform;
    }
    .header__link:not(.sub__link):hover::after {
      transform: scale(1);
    }
  </style>